<section class="container">
    <header class="header d-flex">
        <h2 class="ff-inter">Meu Mural</h2>
        <button class="botao" routerLink="/criar-pensamento">Adicionar pensamento</button>
    </header>
    <div class="mural" *ngIf="listaDePensamentos.length > 0, else SemPensamentos">
        <div *ngFor="let itemPensamento of listaDePensamentos">
            <app-card-pensamento [pensamento]="itemPensamento"></app-card-pensamento>
        </div>
    </div>
</section>

<ng-template #SemPensamentos>
    <div class="ff-inter sem-pensamentos">
        <p>Ainda não há pensamentos cadastrados</p>
    </div>
</ng-template>