
    <div class="pensamento {{pensamento.modelo}} ff-roboto-mono" [ngClass]="larguraPensamento()">
        <img src="../../../../assets/imagens/{{pensamento.modelo}}.png" alt="Aspas Coloridas">
        <p class="couteudo">{{pensamento.conteudo}}</p>
        <p class="autoria"><b>{{pensamento.autoria}}</b></p>
        <div class="acoes">
            <button class="botao-editar">
                <img src="../../../../assets/imagens/icone-editar.png" alt="Icone de editar">
            </button>
            <button class="botao-excluir">
                <img src="../../../../assets/imagens/icone-excluir.png" alt="Icone de excluir" routerLink="/deletarPensamento/{{pensamento.id}}">
            </button>
        </div>
    </div>
